#categorias-buttons {
  position: fixed;
  top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: hsl(0, 55%, 35%);
  z-index: 100;
  width: 100%;
}

#categorias-buttons button {
  margin: 5px;
}

#productos-categoria-container {
  position: relative;
  margin-top: 120px;
}

#categorias-placeholder {
  margin-top: 70px;
  text-align: center;
  padding: 20px;
  z-index: 99;
}
