.mensaje-animado {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.mensaje-animado.mostrar {
  opacity: 1;
  transform: translateY(0);
}
